*,
*::after,
*::before {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;

    font-family: 'Anuphan', sans-serif;
    font-weight: 400;
}


h1,h2,h3, h4, h5, h6,p{
    margin-block: 0;
    line-height: 1.4;
}

span {
    line-height: 1.6;
}

ul {
    padding: 0;
    list-style: none;
}

img {
    width: 100%;
    height: auto;
}

/* Colors */
.grey {
    color: #e7e6e9;
}
.bg-grey {
    background-color: #e7e6e9;
}

.dark {
    color: #2e2d30;
}
.bg-dark {
    background-color: #2e2d30;
    color: #2e2d30;
}

.white {
    color: #ffffff;
}
.bg-white {
    background-color: #ffffff;
}

.light-grey {
    color: #b2b1b4;
}
.bg-light-grey {
    background-color: #b2b1b4;
}


/* Font sizes */
.fs-100 {
    font-size: 14px;
}
.fs-200 {
    font-size: 18px;
}
.fs-300 {
    font-size: 30px;
}

.fw-400 {
    font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}
.fw-700 {
    font-weight: 700;
}


/* Texts */
.capitalize{
    text-transform: capitalize;
}
.uppercase{
    text-transform: uppercase;
}
/* Displays */
.d-block {
    display: block;
}
.d-block.ch-block > * {
    display: block;
}

.l-h-1{
    line-height: 1.1;
}

.flex {
    display: flex;
}
.flex.align-center {
    align-items: center;
}
.flex.justify-center {
    justify-content: center;
}
.flex.justify-between {
    justify-content: space-between;
}

.flex.gap-3 {
    gap: 30px;
}
.flex.gap-4 {
    gap: 40px;
}
.flex.gap-5 {
    gap: 50px;
}
.flex.gap-8 {
    gap: 80px;
}

/* Spacing */
.my-1{
    margin-block: 18px;
}
.my-1--0{
    margin-block: 10px;
}

.my-2{
    margin-block: 20px;
}
.my-3{
    margin-block: 30px;
}
.my-4{
    margin-block: 40px;
}
.mt-2{
    margin-top: 20px;
}
.py-1{
    padding-block: 16px;
}
.py-2{
    padding-block: 20px;
}
.pb-2:not(:last-of-type){
    padding-bottom: 20px;
}
.pb-3:not(:last-of-type){
    padding-bottom: 30px;
}

.content {
    position: relative;
    width: 1000px;
    max-width: 90%;
    margin: 0 auto;
    padding: 0;
}
aside {
    padding: 10px 0 0 30px;
    position: absolute;
    width: 250px;
    left: 0;
    top: 0;
    height: 100%;
    /* min-height: fit-content; */
}
.main {
    margin-left: 300px;
}


.avatar {
    width: 150px;
    aspect-ratio: 1;

    border: 2px solid #fff;
    border-radius: 50%;

    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin-block: 30px;
}

.progress-container{
    display: block;
    background-color: #b2b1b4;
    width: 200px;
    max-width: 90%;
    height: 10px;
}
.progress {
    display: block;
    background-color: #2e2d30;
    height: 100%;
}


.gaurded {
    border: 1px solid #b2b1b4;
    border-left: 0;
    border-right: 0;
}

.title{
    display: inline;
    position: relative;
}

.title::after{
    content: "";
    position: absolute;

    bottom: -4px;
    margin-block: auto;
    
    left: 0;
    height: 2px;
    background-color: #b2b1b4;
    width: 150%;
}

li {
    position: relative;
    padding-left: 20px;
}

li::after{
    content: "";
    position: absolute;
    left: 0;
    top: 7px;

    width: 2px;
    height: 100%;

    background-color: #b2b1b4;
}
li::before{
    content: "";
    position: absolute;
    left: -3.2px;
    top: 7px;

    width: 10px;
    aspect-ratio: 1;
    border-radius: 50%;

    background-color: #b2b1b4;
}